@import "./global.css";
@import "./views/about/style.css";
@import "./views/static/header/style.css";
@import "./views/static/footer/style.css";
@import "./views/static/home/style.css";
@import "./views/static/watched.css"